<app-header titulo="action sheet"></app-header>

<ion-content class="ion-padding">


  <ion-button (click)="onClick()" expand="block">
    Mostrar action-sheet

  </ion-button>

</ion-content>
<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button
        defaultHref="/" text="Regresar" color="primary" mode="ios">
      </ion-back-button>

    </ion-buttons>
    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">action-sheet</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
